/*
Plugin Name: Rich Text Excerpts
Plugin URI: http://wordpress.org/extend/plugins/rich-text-excerpts/
Description: Adds rich text editing capability for excerpts using wp_editor()
Author: Peter Edwards <pete@bjorsq.net>
Author URI: https://github.com/bjorsq/rich-text-excerpts
Version: 1.3.2
License: GPLv3

This program is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 2 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
*/
.js .rich-text-excerpt-static h3,
.js .rich-text-excerpt-static h3 label {
	cursor: default;
}
div.rich-text-excerpt #wp-excerpt-editor-tools{
	margin: 0;
	padding-top: 5px;
}
div.rich-text-excerpt .add_media {
	margin-left: 5px;
}
div.rich-text-excerpt .wp-editor-container{
	border-left: none;
	border-right: none;
	border-bottom: none;
	border-radius: 0;
}
div.rich-text-excerpt td.mceIframeContainer {
	background: #ffffff;
}
